:root > * {
  --md-code-bg-color: lightyellow;
}

.blue {
  color: #607c8a;
}

.teal {
  color: #39CCCC;
}

.green {
  color : #2ECC40;		
}

.bg-yellow {
	
  background-color:	#546d78;
  color: #FFFFFF;
  padding: 1px;
}

.md-code__content {
	border: 1px solid #607c8a;
}